{% extends "page.html" %}

{% block page_content -%}
  {{- page.content|trim }}

<hr>

<div class="m-text m-dim">

<p>
The list below is mainly for search engines, because they apparently do
not index GitLab.com well.
</p>

{% if gitlab_projects %}
  {% for project in gitlab_projects %}
    <section id="{{ project.path_with_namespace }}">
      <h3><a href="{{ project.web_url }}"
          >{{ project.path_with_namespace }}</a></h3>
        {% if project.description %}
        <p>
          {{- project.description -}}
        </p>
      {% endif %}
    </section>
  {% endfor %}
{% endif %}

</div>

{% endblock %}
