{% extends "page.html" %}

{% block extra %}
  <meta http-equiv="refresh" content="0; URL={{ page.redirect_url | trim }}" />
{% endblock %}

{% block main %}
<div class="m-container m-container-inflatable">
  <div class="m-row">
    <div class="m-col-l-10 m-push-l-1">
      <h1>{{ page.title | trim }}</h1>
      {% if not page.content|trim %}
        This content can be found here:
        <a href="{{ page.redirect_url | trim }}">
          {{ page.redirect_url | trim }}</a>.
      {% else %}
        {{ page.content }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
