@import url("/static/m-dark.css");

/* https://google-webfonts-helper.herokuapp.com/ */
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('fonts/courier-prime-v9-latin-regular.woff2')
      format('woff2'),
    url('fonts/courier-prime-v9-latin-regular.woff')
      format('woff'),
    url('fonts/courier-prime-v9-latin-regular.ttf')
      format('truetype'),
    url('fonts/courier-prime-v9-latin-regular.svg#CourierPrime')
      format('svg');
  /* show fallback font while loading custom font */
  font-display: fallback;
}

/* Based on theme "m.dark"; just altered some colors. */
:root {

  /* https://github.com/lpirl/templates/blob/en/color-scheme.txt */
  --lp-background: #000;
  --lp-foreground: #fff;
  --lp-gray: #757575;
  --lp-primary: #018571;     /* turquoise */
  --lp-secondary: #077cc0;   /* blue */
  --lp-positive: #008837;    /* green */
  --lp-negative: #c65301;    /* orange/brown */
  --lp-drastic: #eb0027;     /* red */

  --font: 'Courier Prime', monospace;
  --font-size: initial;
  --code-font: var(--font);
  --line-height: 1.5rem;
  --paragraph-indent: 0;
  --link-decoration: underline;
  --link-decoration-nav: var(--link-decoration);
  --nav-brand-case: none;
  --nav-heading-case: none;
  --nav-categories-case: none;
  --landing-header-case: none;
  --border-radius: 0;

  /* Basics */
  --background-color: var(--lp-background);
  --color: var(--lp-foreground);
  --line-color: var(--lp-gray);
  --link-color: var(--lp-foreground);
  --link-active-color: var(--link-color);
  --mark-color: inherit;
  --mark-background-color: var(--lp-gray);
  --code-color: inherit;
  --code-inverted-color: var(--lp-background);
  --console-color: var(--code-color);
  --console-inverted-color: var(--code-inverted-color);
  --code-background-color: inherit;
  --console-background-color: inherit;
  --button-background-color: inherit;

  /* Header */
  --header-color: var(--color);
  --header-breadcrumb-color: inherit;
  --header-background-color: inherit;
  --header-background-color-landing: inherit;
  --header-background-color-jumbo: inherit;
  --header-link-color: inherit;
  --header-link-active-color: inherit;
  --header-link-current-color: inherit;
  --header-link-active-background-color: inherit;
  --header-link-active-background-color-semi: inherit;

  /* Footer */
  --footer-color: var(--dim-color);
  --footer-background-color: inherit;
  --footer-link-color: inherit;
  --footer-link-active-color: inherit;

  /* Article */
  --article-header-color: inherit;
  --article-footer-color: inherit;
  --article-heading-color: inherit;
  --article-heading-active-color: inherit;

  /* Right navigation panel */
  --navpanel-link-color: inherit;
  --navpanel-link-active-color: inherit;

  /* Plots */
  --plot-background-color: inherit;
  --plot-error-color: var(--lp-drastic);

  /* Colored components */
  --default-color: var(--lp-foreground);
  --default-link-active-color: var(--link-color);
  --default-filled-color: var(--background-color);
  --default-filled-background-color: var(--default-color);
  --default-filled-link-color: var(--link-color);
  --default-filled-link-active-color: var(--default-filled-link-color);

  --primary-color: var(--lp-primary);
  --primary-link-active-color: var(--primary-color);
  --primary-filled-color: var(--background-color);
  --primary-filled-background-color: var(--primary-color);
  --primary-filled-link-color: var(--link-color);
  --primary-filled-link-active-color: var(--primary-filled-link-color);

  --success-color: var(--lp-positive);
  --success-link-active-color: var(--success-color);
  --success-filled-color: var(--background-color);
  --success-filled-background-color: var(--success-color);
  --success-filled-link-color: var(--link-color);
  --success-filled-link-active-color: var(--success-filled-link-color);

  --warning-color: var(--lp-negative);
  --warning-link-active-color: var(--warning-color);
  --warning-filled-color: var(--background-color);
  --warning-filled-background-color: var(--warning-color);
  --warning-filled-link-color: var(--link-color);
  --warning-filled-link-active-color: var(--warning-filled-link-color);

  --danger-color: var(--lp-drastic);
  --danger-link-active-color: var(--danger-color);
  --danger-filled-color: var(--background-color);
  --danger-filled-background-color: var(--danger-color);
  --danger-filled-link-color: var(--link-color);
  --danger-filled-link-active-color: var(--danger-filled-link-color);

  --info-color: var(--lp-secondary);
  --info-link-active-color: var(--info-color);
  --info-filled-color: var(--background-color);
  --info-filled-background-color: var(--info-color);
  --info-filled-link-color: var(--link-color);
  --info-filled-link-active-color: var(--info-filled-link-color);

  --dim-color: var(--lp-gray);
  --dim-link-color: var(--dim-color);
  --dim-link-active-color: var(--dim-color);
  --dim-filled-color: var(--background-color);
  --dim-filled-background-color: var(--dim-color);
  --dim-filled-link-color: var(--link-color);
  --dim-filled-link-active-color: var(--dim-filled-link-color);
  --dim-button-active-color: var(--dim-color);
}

/* BEGIN make footer stay on view port bottom, at least */
/* (creds to https://stackoverflow.com/a/20352949) */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
/* END   make footer stay on view port bottom, at least */

a.m-link-wrap {
  word-break: break-word;
}

body > footer > nav {
  padding: 0;
}

body > footer > nav h3 {
  margin-top: -1em;
}

body > header > nav #m-navbar-brand,
body > header > nav #m-navbar-show,
body > header > nav #m-navbar-hide {
  font-size: inherit;
  font-weight: inherit;
}

/* BEGIN always show menu on small screens */
body > header > nav #m-navbar-show,
body > header > nav #m-navbar-hide {
  display: none;
}

body > header > nav #m-navbar-collapse {
  width: auto;
  float: right;
}

body > header > nav #m-navbar-collapse li {
  text-align: right;
}

body > header > nav #m-navbar-collapse {
  display: block;
  margin-bottom: -3rem;
}


@media screen and (max-width: 767px) {
  /* fix padding to upper view port border */
  body > header > nav #m-navbar-collapse {
    padding-top: .5em;
  }
}
/* END always show menu on small screens */


article h1 {
  margin-bottom: 3em;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: 2rem;
}

article section,
article section:target {
  margin-left: -1rem;
  padding-left: 2rem;
}

article section .m-row {
  margin-left: 0;
}

:not(aside) > h2,
:not(aside) > h3,
:not(aside) > h4,
:not(aside) > h5,
:not(aside) > h6 {
  margin-left: -1em;
  margin-top: 1.5em;
  margin-bottom: .5em;
}

/* link highlighting also for headlines in articles */
article h1 a,
article section > h2 a,
article section > h3 a,
article section > h4 a,
article section > h5 a,
article section > h6 a {
  text-decoration: var(--link-decoration);
  color: var(--link-color);
}

/* for text-* directives, mimic the margins of paragraphs */
div.m-text {
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid var(--line-color);
}

td {
  padding: .5em;
}

li:last-child {
  margin-bottom: .5em;
}

/* clear excessive margins for nested lists */
li > p {
  margin-block-end: 0;
}

/* clear excessive margins when using blocks as list elements */
li > p:last-child {
  margin-bottom: 0;
}

/* highlight external links */
a[href*="://"]:not([href*="lukas-pirl.de"]),
a[href*="gitlab.com/lpirl/lukas-pirl.de"]
{
  background-image: url(/static/external-link-icon.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: .9em;
  padding-right: 1.1em;
}

input {
  height: 2rem;
  color: var(--color);
  background-color: var(--background-color);
  border: 1px solid var(--line-color);
  font: var(--font);
}

.no-borders,
.no-borders th,
.no-borders td,
.no-borders tr {
  border: none;
}

.full-width {
  width: 100%;
}
